

.flex {
  display: flex;
  justify-content: center;
  margin-top: -76px;
}


.border-white {
  border: white solid 4px;
  border-radius: 50%;
  width: fit-content;
}

.header {
  height: 100px;
  background-image: url("../../assets/img/bg.jpg");
  width: 100%;
  padding-top: 1px;
}


